<div class="d-flex flex-row-reverse">
  <%= for assignee <- @assignees do %>
    <div class="p-2">
      <img class="rounded" width="100px;" src='<%= assignee["avatarUrl"] %>' />
    </div>
  <%= end %>
</div>
