<ul class="nav justify-content-left">
  <%= for assignee <- @assignees do %>
    <li class="nav-item">
      <a class="navbar-brand" href="#">
        <img src='<%= assignee["avatarUrl"] %>' width="50" height="50" alt="">
      </a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="#"><%= assignee["login"] %></a>
    </li>
  <%= end %>
</ul>