<%= for column <- @columns do %>
  <%= if length(column["cards"]["nodes"]) >= 1 do %>
    <div class="col">
      <div class="alert alert-danger" role="alert">
        <%= column["name"] %>
      </div>
      <%= render "cards.html", cards: column["cards"]["nodes"] %>
    </div>
  <%= end %>
<%= end %>
