<%= for {card, card_index} <- @cards do %>
  <%= if Map.has_key?(card, "content") and has_team_member(card, @members) and @name == "Queue" do %>
    <%= render "watched_card.html", card: card, members: @members, index: card_index %>
  <%= else %>
    <%= if Map.has_key?(card, "content") and @name != "Queue" do %>
      <%= render "watched_card.html", card: card, members: @members, index: card_index %>
    <%= end %>
  <%= end %>
<%= end %>

