<!DOCTYPE html>
<html lang="en" style="<%= html_background(@conn) %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Churros!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.sky.com/assets/toolkit/v2.5.0/toolkit.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="polaris">
    <main class="mast-u-height-main">
      <div class="polaris-main">
        <div>
          <div class="c-tile__container snow">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>window.userToken = "<%= assigns[:user_id] %>";</script>
  </body>
</html>
