
<div class="container-fluid">
  <div class="row">
    <div class="col-8" id="live-data" data-socket-name='<%= @id %>' data-socket-watching='<%= @watching || "false" %>'>
      <h1 class="mt-3">Waiting in Lobby for Watched Repo: <%= @repo %></h1>
    </div>
    <div class="col-4 mt-2">
      <div class="alert alert-danger" role="alert">
        Watched PR's
      </div>
      <div id="live-watched-data" class="card-column">
      </div>
    </div>
  </div>
</div>