<div id="live-data" class="o-layout u-margin-top-large" data-socket-name="projects">
  <div class="o-layout__item u-text-center">
    <h1 class="c-heading-aplha">Waiting in Lobby for projects <strong class='c-spinner c-spinner--large u-margin-left-large' role='progressbar'>Loading…</strong></h1>
  </div>
</div>