<div class="row">
  <div class="col-md-6 mt-2">
    <%= render "issues.html", labelled: true, issues: @labelled, conn: @conn %>
  </div>
  <div class="col-md-6 mt-2">
    <%= render "issues.html", labelled: false, issues: @unlabelled, conn: @conn %>
  </div>
</div>