<div class="row">
  <div class="col-md-12 mt-2">
    <%= render Churros.LayoutView, "hero.html", team: @team %>
  </div>
</div><div class="row">
  <div class="col-md-12 mt-2">
    <%= render "issues.html", issues: @issues, conn: @conn %>
  </div>
</div>