<div class="card">
  <div class="card-block">
    <h5 class="card-title">#<%= @issue["number"] %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @issue["title"] %></h6>
    <div class="card">
      <div class="card-block">
        <%= render "labels.html", issue: @issue %>
        <hr />
        <%= for assignee <- @issue["assignees"] do %>
          <%= render "assignee.html", assignee: assignee, conn: @conn %>
        <%= end %>
      </div>
    </div>
  </div>
</div>