<div class="card-columns">
  <%= for issue <- @issues do %>
    <%= if Map.has_key?(issue, "assignees") do %>
        <%= render "issue.html", issue: issue, conn: @conn %>
    <%= end %>
  <%= end %>
</div>