<%= for label <- @issue["labels"] do %>
  <span style='background-color:#<%= label["color"] %>;color: white; padding:3px; margin:1px; border-radius: 2px;'>
    <%= label["name"] %>
  </span>
<%= end %>
