.hat {
    float: right;
    width: 50px;
    top: 10px;
    left: 360px;
    position: fixed;
    z-index: 500;
}

.santa {
    float: right;
    width: 280px;
    top: -50px;
    right: -20px;
    position: fixed;
}

.hat.disabled {
    display: none;
}

.transparent-child {
    background: transparent !important;
}

.boids-canvas {
    height: 1200px !important;
    background-color: transparent !important;
    border-radius: 2px !important;
    padding: 5px !important;
}
canvas {
    background: transparent;
    border-radius: 5px;
}

.overflow {
    display: inline-block;
}
.loading-spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 70%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear reverse infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.custom-border {
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px grey;
    margin: 3px;
}

.custom-title {
    font-family: monospace;
    z-index: 999;
    font-size: 35px;
    top: 38px;
    left: 65%;
    position: absolute;
}
.custom-title-2 {
    font-family: Courier New, Courier, monospace;
    z-index: 999;
    font-size: 28px;
    top: 38px;
    left: 68%;
    position: absolute;
}
.truncate {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tiny {
    font-size: 13pt;
    color: darkblue;
    padding-top: 8px;
}
.p-2 {
    float:left;
    margin: 4px;
    overflow: auto;
}