.snow {
	background: none;
	font-family: Androgyne;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	

.hat {
    float: left;
    width: 60px;
    top: -20px;
    left: -25px;
    position: fixed;

    -ms-transform: rotate(290deg); /* IE 9 */
    -webkit-transform: rotate(290deg); /* Chrome, Safari, Opera */
    transform: rotate(290deg);
}

.santa {
    float: right;
    width: 280px;
    top: -50px;
    right: -20px;
    position: fixed;
}

.hat.disabled {
    display: none;
}

.transparent-child {
    background: transparent !important;
}

.boids-canvas {
    height: 1200px !important;
    background-color: transparent !important;
    border-radius: 2px !important;
    padding: 5px !important;
}
canvas {
    background: transparent;
    border-radius: 5px;
}

.overflow {
    display: inline-block;
}
.loading-spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 70%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear reverse infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.custom-border {
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px grey;
    margin: 3px;
}

.custom-title {
    font-family: monospace;
    z-index: 999;
    font-size: 35px;
    top: 38px;
    left: 65%;
    position: absolute;
}
.custom-title-2 {
    font-family: Courier New, Courier, monospace;
    z-index: 999;
    font-size: 28px;
    top: 38px;
    left: 68%;
    position: absolute;
}
.truncate {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tiny {
    font-size: 13pt;
    color: darkblue;
    padding-top: 8px;
}
.p-2 {
    float:left;
    margin: 4px;
    overflow: auto;
}