/*
  TILE_BACKGROUND.SCSS
*/

.snow {
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
  @keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
  }
  @-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }

$mobile-pink: #ff2ce9;
$mobile-red: #dc0000;
$mobile-yellow: #ffd500;
$mobile-orange: #ff4800;
$mobile-purple: #c800ff;
$mobile-blue: #2900ff;
$mobile-cyan: #00ebff;
$mobile-green: #56c600;
$white-transparent: rgba(255, 255, 255, 0);

// colors for rainbow border
$gradient-orange: #f08300;
$gradient-red: #e3000f;
$gradient-purple: #a72879;
$gradient-blue: #064496;

.text-blue {
  color: $mobile-blue;
  font-weight: bold;
}
.text-green {
  color: $mobile-green;
  font-weight: bold;
}
.text-red {
  color: $mobile-red;
  font-weight: bold;
}

.custom-box-animated {
  background-image: -webkit-linear-gradient(
    1turn,
    $mobile-blue 65%,
    $gradient-blue
  );

  background-image: -o-linear-gradient(
    1turn,
    $mobile-blue 65%,
    $gradient-blue
  );

  background-image: linear-gradient(
    1turn,
    $mobile-blue 65%,
    $gradient-blue
  );

  filter: progid:DXImageTransform.Microsoft.gradient(
    GradientType  = 1,
    startColorstr = $gradient-orange,
    endColorstr   = $gradient-blue
  );
}

.custom-box {
  border: 0;
  height: 1%;
  padding: 3px;
  box-shadow: 0px 0px 10px 10px white;

  .hat.disabled {
      display: block;
  }

  .custom-box__content {
    background-color: #fff;
    padding: 15px 20px 20px 25px;
    p {
      font-size: 20px;
    }
  }
}