<div class="row">
  <div class="col-md-12 mt-2">
    <%= render Churros.LayoutView, "hero.html", team: @team %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card-columns">
      <%= for member <- @members do %>
        <%= render "org_team_member.html", member: member %>
      <%= end %>
    </div>
  </div>
</div>