<div class="card" style="width: 20rem;">
  <img class="card-img-top" height="300px" src='<%= @issue["assignee"]["avatar_url"] %>' />
  <div class="card-block">
    <h5><%= @issue["title"] %><small class="text-muted">: #<%= @issue["number"] %></small></h5>
  </div>
  <div class="card-footer">
      <a href='<%= @issue["html_url"] %>'><%= @issue["html_url"] %></a>
  </div>
</div>



